<!-- box begin -->
 <div class="box alt">
 	<div class="left-top-corner">
    	<div class="right-top-corner">
       	<div class="border-top"></div>
       </div>
    </div>
    <div class="border-left">
    	<div class="border-right">
       	<div class="inner">
          	<h2>Your Wish List</h2>
            <p>Your wish list is currently empty.</p>
          </div>
       </div>
    </div>
    <div class="left-bot-corner">
    	<div class="right-bot-corner">
       	<div class="border-bot"></div>
       </div>
    </div>
 </div>
 <!-- box end -->
