<!-- box begin -->
<div class="box alt">
	<div class="left-top-corner">
   	<div class="right-top-corner">
      	<div class="border-top"></div>
      </div>
   </div>
   <div class="border-left">
   	<div class="border-right">
      	<div class="inner">
         	<div class="wrapper">
               <h2>Welcome to Our Online Coffee House!</h2>
               <p>We're so glad you made it. Have a seat. Let me get you a fresh, hot cup o' Joe. Cream and sugar? There you go.</p>
               <p>Please use the links at the top to browse through our catalog. If you've been here before, you can find things you bookmarked by clicking on your Wish List and Cart links. </p>
         	</div>
         </div>
      </div>
   </div>
   <div class="left-bot-corner">
   	<div class="right-bot-corner">
      	<div class="border-bot"></div>
      </div>
   </div>
</div>
<!-- box end -->
<!-- box begin -->
<div class="box">
	<div class="left-top-corner">
   	<div class="right-top-corner">
      	<div class="border-top"></div>
      </div>
   </div>
   <div class="border-left">
   	<div class="border-right">
      	<div class="inner">
         	<h3>About Clever Coffee, Inc.</h3>
         	<p>Clever Coffee, Inc. has been selling coffee online since 1923. For years, Clever Coffee, Inc. failed to make a profit, due to the lack of computers and the Internet. Yadda, yadda, yadda.</p>
         	<p>It's safe to shop here, promise!</p>
      </div>	
      </div>
   </div>
   <div class="left-bot-corner">
   	<div class="right-bot-corner">
      	<div class="border-bot"></div>
      </div>
   </div>
</div>
<!-- box end -->